<div class="column">
    <div class="card">
        <div class="card-content">
          <p class="subtitle is-6 is-centered">
            <%= link_to genre.name, genre %>
          </p>                
        </div>
    </div>
</div>
