<p style="color: green"><%= notice %></p>

<h1 class="title is-2">Genres</h1>
<aside class="menu">
  <% @genres.each do |g| %>
    <ul class="menu-list">
      <li><%= link_to g.name.capitalize(), g %></li>
    </ul>    
  <% end %>
</aside>

<%= paginate @genres %>