<p style="color: green"><%= notice %></p>

<h1 class="title is-2">Genres</h1>
<div class="columns">
  <% @genres.each do |g| %>
    <div class="card m-3 has-text-centered">
      <%= link_to g.name.capitalize(), g %>
    </div>    
  <% end %>
</div>

<%= paginate @genres %>