<p style="color: green"><%= notice %></p>

<h1 class="title is-2">Platforms</h1>
<div class="columns is-multiline">
  <% @platforms.each do |p| %>
    <%= render partial: "platform", object: p %>
  <% end %>
</div>

<%= paginate @platforms %>