<p style="color: green"><%= notice %></p>
<div id="game_platform" class="card m-3 has-text-centered">  
  <div class="card-content has-text-centered">
    <%= image_tag(@platform.image, :size => '200x200')%> 
    <div class="media-content">
      <p class="title is-4">
        <%= @platform.name %>
      </p> 
      <p>
        <%= @platform.description %>
      </p>
    </div>        
  </div>

</div>  
