<h1 class="title is-2">Home</h1>

<h1 class="title is-3">Recently Added</h1>
<div id="home" class="columns is-multiline">    
    <% @games.each do |g| %>
        <div id="home_games" class="column">
            <%= render partial: "games/game", object: g %>    
        </div>
    <% end %>
</div>
