<div class="column">
    <div class="card has-text-centered">               
        <% if game.image.present? %>
            <div class="card-image has-text-centered">
                <%= image_tag(game.image, width: '200')%>
            </div>
        <% end %>        
        <div class="card-content">            
            <p class="subtitle is-6 is-centered">
                <%= link_to game.name.truncate(20), game %>
            </p>
            <footer class="card-footer is-centered">
                <p class="card-footer-item"><%= number_to_currency(game.price) %></p>     
                <div class="card-footer-item">  
                    <%=button_to "Add to cart", add_game_to_cart_path(game.id), class: 'button is-primary'%>
                <div>       
            </footer>
        </div>
    </div>
</div>