<p style="color: green"><%= notice %></p>

<h1 class="title is-2">Games</h1>
<div class="columns is-multiline">
  <% @games.each do |g| %>
    <%= render partial: "game", object: g %>    
  <% end %>
</div>

<%= paginate @games %>
